/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Wild Youth';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/wildyouth-regular-webfont.woff2') format('woff2'),
    url('/fonts/wildyouth-regular-webfont.woff') format('woff'),
    url('/fonts/wildyouth-regular-webfont.ttf') format('truetype'),
    url('/fonts/wildyouth-regular-webfont.svg#wild_youthregular') format('svg');
}

@font-face {
    font-family: 'Average';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/average-regular-webfont.woff2') format('woff2'),
    url('/fonts/average-regular-webfont.woff') format('woff'),
    url('/fonts/average-regular-webfont.ttf') format('truetype'),
    url('/fonts/average-regular-webfont.svg#averageregular') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;

    src: url('montserrat-bold-webfont.woff2') format('woff2'),
    url('montserrat-bold-webfont.woff') format('woff'),
    url('montserrat-bold-webfont.ttf') format('truetype'),
    url('montserrat-bold-webfont.svg#montserratbold') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;

    src: url('montserrat-regular-webfont.woff2') format('woff2'),
    url('montserrat-regular-webfont.woff') format('woff'),
    url('montserrat-regular-webfont.ttf') format('truetype'),
    url('montserrat-regular-webfont.svg#montserratregular') format('svg');
}
