/* ==========================================================================
   Header
   ========================================================================== */

.header {
    padding: $size-gutter 0;

    color: $color-white;
    background-color: $color-black;
    height: 76px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: $size-gutter * 2;

    transition: $transition-default;
    &:hover {
        opacity: .8;
    }
}

.header__title span {
    font-family: $font-decor;

    color: $color-gold-1;
}
