/* ==========================================================================
   Link
   ========================================================================== */

.link {
    display: flex;

    transition: $transition-default;
    text-decoration: none;

    color: inherit;
    &:hover {
        color: $color-gold-1;
    }
}
