/* ==========================================================================
   Main
   ========================================================================== */

.main {
    width: 100%;
    height: calc(100vh - 76px);
    padding: ($size-gutter * 2) 0;

    color: $color-white;
    background-color: $color-gray-1;
}
