.styleguide-hero {
    padding: 64px 0;

    color: #fff;
    background-color: #3f3f3f;
}

.styleguide-title {
    font-size: 76px;
    line-height: 30px;

    text-align: center;
    font-family: 'Average';
}

.styleguide-title__decor {
    display: block;

    font-family: 'Wild Youth';
    font-size: 50px;
    line-height: 30px;
}
